Flask==2.2.5
Werkzeug==2.2.3
Jinja2==3.1.2
MarkupSafe==2.1.1
itsdangerous==2.1.2
click==8.1.7
Flask-Login==0.6.2
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.46
PyMySQL==1.1.0
setuptools==80.0.0  # Versión anterior a 81
gunicorn==21.2.0    # Versión más reciente